main{
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
}
.container{
    background-color:#f46100;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0.3);
}
.header{
    background: linear-gradient(120deg, #f55600 0%, #ec854dbc 100%);
    padding: 24px;
    text-align: center;
    color:rgb(0, 0, 0);
}
.form{
    padding: 20px;
    
}
.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
    justify-content: center;
}
.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}
.form-content input{
   display: block;
   width: 95%;
   border-radius: 8px;
   padding: 8px;
   border: 2px solid ;
   
}
.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}
.form-content button{
    background-color: #fefefdd0;
    color: #e95200;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}

.form-content.error input{
    border-color: red;
}
.form-content.error a{
    color: red;
    visibility: visible;
}